.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;/
}
.sidebar * {
    box-sizing: border-box;
}

.sidebar {
    position: relative;
    width: 100%;
    background-color: #f9f9f9;
    /*padding: 20px;*/
    z-index: 0;
    height: 497px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sidebar .slider-container {
    position: relative;
    overflow: hidden;
}

.sidebar .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.sidebar .slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.sidebar .slide img {
    width: 100%;
    height: 497px;
    border-radius: 10px;
}

/* Стрелки */
.sidebar button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(248, 176, 6);
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50px;
}

.sidebar .prev {
    left: 10px;
}

.sidebar .next {
    right: 10px;
}

.sidebar button:hover {
    background-color: rgba(248, 176, 6, 0.7);
}

.sidebar .dots-container {
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:10%;
    right:10%;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
}

.sidebar .dot {
    display: inline-block;
    width: 22px;
    height: 3px;
    margin: 5px;
    background-color: gray;
    /*border-radius: 50px;*/
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sidebar .dot.active {
    background-color: #f8b006;
}

.content_info {
    width: 65%;

    margin: 0 10%;
}

.padding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding-top: 94px;
}
.padding2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-top: auto;
    padding-bottom: 94px;
}

.heatmastericon {
    justify-content: center;
    max-width: 100%;
    height: auto;
}
.bread_crump{
color:#C47344;
}
.bread_crumps{
    padding: 20px 0;
    display: flex;
    gap:2px;
    font-size: 14px;
    color:#CECECE;
}
.title{
    padding: 20px 0;
    font-size: 36px;
    font-weight: bold;

}
.bread_crumps a {
    text-decoration: none;
    color: inherit;
}

.bread_crumps a:visited {
    color: inherit;
}

.bread_crumps a:active {
    color: inherit;
}

.bread_crumps a:hover {
    text-decoration: underline;
}
.termoregulator{
    max-width: 350px;
    overflow: hidden;

}
.img_termoregulator{
    width: 100%;
    height: 223px;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.termoregulators{
    display:flex;
    flex-wrap: wrap;
     justify-content: center;
    gap: 30px;
    margin-bottom: 84px;
    margin-top: 56px;
}
.thermoregulator_descripton{
    background:#C47344;
    color:white;
    font-size: 18px;
    width:300px !important;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media(max-width:600px){
    .termoregulators{
        gap:60px
    }
}
@media(max-width:768px ){
    .thermoregulator_descripton{
        width: 209px;
    }
    .padding{
        display:none;
    }
    .termoregulator{
        max-width: 209px;
        height: 209px;
        overflow: hidden;
    }
    .img_termoregulator{
        width: 209px;
        height: 190px;
    }
    .content_info {
    width: 100%;

    margin: 0 1%;
}
}
@media(max-width:400px){
    .sidebar {
      height: 250px;
    }
    .sidebar .slide img {
       height: 250px;
    }

}
