<!DOCTYPE html>
<html lang="en">
<head>
    {% extends './layout.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock %}

</head>
<body>

{% block content %}
<div class="content">
    <div class="padding">
        <img src="{% static 'icon/+.svg'%}" alt="+"/>
    </div>
    <div class="content_info">
        <div class="bread_crumps"><a href="{% url 'home' %}">Главная</a> /
            <div class="bread_crump">О компании</div>
        </div>
        <div>
            <div class="title">О компании</div>
            <img src="{% static 'icon/Heat%20Master.jpg'%}" alt="heat+_master" class="heatmastericon"/>
            <div>
                <div class="text"><b>Heat Master</b> – компания, занимающаяся продажей и монтажом теплых полов и
                    комплектующих к ним. Чтобы наполнить помещение теплом и уютом мы предлагаем своим клиентам только
                    лучшие варианты электрических теплых полов, они универсальны и безопасны
                </div>
                <div class="text_with_img">
                    <img src="{% static 'icon/people.png' %}" class="people_img" alt="people"/>
                    <div class="text">
                        <b>Наша команда</b> – это профессионалы, которые понимают клиента с полуслова. Мы работаем как с
                        крупными
                        оптовыми покупателями, так и в розницу, проконсультируем и подберем все комплектующие для
                        максимально быстрой
                        установки пола. Ежегодно мы устанавливаем новые рекорды по отгрузке товаров и увеличению
                        оборотов компании.
                        С 2017 года мы отгрузили более 4 000 единиц продукции. Это был период интенсивной работы, и мы
                        не собираемся
                        останавливаться на достигнутом.
                    </div>
                </div>

                <div class="text"><b>Сезон тепла</b> – ваш надежный партнер, гарантирующий качество поставляемой
                    продукции и оказание услуг на высоком уровне. Все специалисты нашей компании регулярно проходят
                    обучение, повышая свой уровень знаний. Мы работаем только с качественными материалами и всегда ищем
                    лучшее решение для вас.
                </div>
                <div class="text">Мы авторизированные дилеры таких известных компаний, как Devi, Terneo, Extherm, Fenix
                    и многих других. Это наши партнеры по бизнесу, длительным сотрудничеством с которыми мы очень
                    гордимся.
                    Своим клиентам мы предлагаем полный спектр услуг, связанных с проектировкой, подбором оборудования и
                    непосредственной установкой теплых полов. Мы готовы взять на себя реализацию полноценной системы
                    электроподогрева пола вне зависимости от сложности проекта.
                    Мы как никто другой знаем, как важен микроклимат в доме и делаем все, чтобы атмосфера в вашем
                    помещении стала еще уютнее.
                </div>
            </div>
        </div>
    </div>
    <div class="padding2">
        <img src="{% static 'icon/+.svg'%}" alt="+"/>
    </div>
</div>
{% endblock %}

</body>
</html>