
<!DOCTYPE html>
<html lang="en">

<head class="body">
    <meta charset="UTF-8">
    <title>HeatMaster</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="icon" href="{% static 'icon/icon.ico'%}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body class="body">
{% include './../widgets/header.html' %}
    <main>
        {% block content %}

        {% endblock %}
    </main>
{% include './../widgets/footer.html' %}
</body>
</html>