{% extends './layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="bread_crumps"><a href="{% url 'home' %}">Главная</a> / <div class="bread_crump">Заказ оформлен</div></div>
    
    <div class="order-success-card">
        <div class="success-icon">✓</div>
        <h2>Спасибо! Ваш заказ №{{ order.id }} успешно оформлен.</h2>
        
        <div class="order-success-details">
            <p><strong>Статус:</strong> {{ order.get_status_display }}</p>
            <p><strong>Сумма:</strong> {{ order.total_amount }} р.</p>
        </div>
        
        <a class="btn-primary" href="{% url 'thermostat_list' %}">Продолжить покупки</a>
    </div>
    
</div>
{% endblock %}
