<!DOCTYPE html>
<html lang="en">
{% extends './layout.html' %}
<head>
    <meta charset="UTF-8">
    <title>Tibtle</title>
    {% load static %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock %}

</head>
<body>
{% block content %}
<div class="content">
    <div class="padding">
        <img src="{% static 'icon/+.svg' %}" alt="+"/>
    </div>
    <div class="content_info">
        <div class="bread_crumps"><a href="{% url 'home' %}">Главная</a> /
            <div class="bread_crump">Терморегуляторы</div>
        </div>
        {% if user.is_authenticated %}
        <p>Привет, {{ user.first_name }} {{user.last_name}}!</p>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">

        {% csrf_token %}

        <button type="submit">Выйти</button>

    </form>
        {% else %}
        <a href="{% url 'signIn'%}" >Войти</a> |
        <a href="{% url 'signUp' %}">Регистрация</a>
        {% endif %}
        <div>
            <div class="title">Терморегуляторы</div>
            <div class="termoregulators">
                {% for thermostat in thermostats %}
                <div class="thermoregulator">
                    <img src="{{ thermostat.icon.url }}" alt="{{ thermostat.type }}" class="img_termoregulator"/>
                    <div class="thermoregulator_descripton">
                        <div>{{ thermostat.type }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--            <div class="padding2">-->
    <!--                <img src="+.svg" alt="+"/>-->
    <!--            </div>-->
</div>
{% endblock %}

</body>
</html>